# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.eslintcache

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.db
backend/.env

# OS files
.DS_Store
Thumbs.db

# Docker
.docker/
